.shopCategoryProducts{
    padding:  20px 5.6%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 285px);
    row-gap: 90px;
    column-gap: 30px;
}
.pagination{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.pagination button{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 10px;
    color: #000000;
    background-color: #f9f1e7;
    font-family: "Poppins-Regular";
    font-size: 20px;
    cursor: pointer;
}
#active {
  background-color: #b88e2f;
  color: #ffffff;
}