.navbar{
    display: flex;
    justify-content: space-around;
    padding: 12px 0px;
    height: 76px;
}
.navLogo{
    display: flex;
    align-items: center;
    
}
.navLogo img{
    width: 185px;
    height: 41px;
}
.navMenu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-family: "Poppins-Medium";
    font-size: 16px;
}
.navMenu li{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.navMenu a{
    text-decoration: none;
    color: black;
}
.navMenu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: #b88e2f;
}

.loginCartLogo{
    display: flex;
    align-items: center;
    gap: 45px;
}

.cartIcon{
    font-size:xx-large
}
.cartCounter{
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background-color: #b88e2f;
    color: white;
}

@media only screen and (max-width:850px){
.navMenu{
    justify-content: space-between;
    gap: 7px;
    padding: 0px;
}
.navLogo img{
    width: 100px;
    height: 30px;
}
}